{# templates/home/index.html.twig #}

{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{ heading }}</h1>
    <p class="lead">
        PSR-7: HTTP message interfaces, PSR-11: Container interface, PSR-15: HTTP Server Request Handlers,
        PSR-17: HTTP Factories, Router, Templates, i18n, etc..
    </p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-danger fw-bold px-5">Learn more</a>
    </p>
{% endblock %}
